<main class="page__main">
  <h1>Buscador de series</h1>
  <form class="js_form">
    <input type="text" id="search" name="search" class="js_input">
    <input type="button" value="Search" class="js_button">


  </form>


  <section>
    <div class="js_movies_container section__container">

      <ul class="js_movies_list shows-list">
        <!-- <li>
          <div>
            <img src="" alt="">
            <h3></h3>

          </div>
        </li> -->

      </ul>
    </div>
  </section>
  <aside>
    <div class="js_favourites hidden">

    </div>
  </aside>
</main>