<main class="page__main">
  <h1>Buscador de series</h1>
  <form class="js_form">
    <input type="text" id="search" name="search" class="js_input">
    <input type="button" value="Search" class="js_button">


  </form>


  <section>
    <div class="js_shows_container section__container">

      <ul class="js_shows_list shows-list">
        <!-- 
          <li class="shows-list__item js_show >;
        
          <div class="show__container">        
        
          <img src="${show.show.image.medium}" alt="${show.show.name}"> 
        
          <h3>${show.show.name}</h3>
          </div>
      -->

      </ul>
    </div>
  </section>
  <aside>
    <div class="js_favourites_list hidden">

    </div>
  </aside>
</main>