<main class="page__main">
  <div class="title"></div>
  <h1>Buscador de series</h1>
  <form class="js_form">
    <input type="text" id="search" name="search" class="js_input">
    <input type="button" value="Search" class="js_button">


  </form>
  </div>
  <div class="container">
    <aside>
      <div class="js_favorites_container fav-container">
        <h2>Favoritos</h2>
        <ul class="js_fav_list fav-list">
          <li>hola</li>

        </ul>

      </div>
    </aside>
    <section>

      <div class="js_shows_container section__container">

        <ul class="js_shows_list shows-list">
          <!-- 
          <li class="shows-list__item js_show >;
        
          <div class="show__container">        
        
          <img src="${show.show.image.medium}" alt="${show.show.name}"> 
        
          <h3>${show.show.name}</h3>
          </div>
      -->

        </ul>
      </div>
    </section>
  </div>

</main>