body {
  padding: 2rem;
  height: 100vh;
}
.page__main {
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: $font-text;
}

.title {
}
.container {
  display: flex;
  flex-direction: row;
}
.section__container {
}
.shows-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__item {
    padding: 20px;
    margin: 10px;
  }
}
.fav-container {
  margin-top: 30px;
  background-color: grayscale($color: #b1b0b0);
}
.fav-list {
  list-style: none;
}
.fav__container {
  width: 250px;
}

.fav-image {
  transform: scale(0.5);
}

.selected {
  background-color: red;
}

.hidden {
  display: none;
}
